<header class="header">
  <a href="/"><img src="/images/logo.svg" alt="Adonis logo" /></a>
  <nav>
    <ul>
      <li class="nav-link"><a href="/guides/about"> Guides </a></li>
      <li class="nav-link"><a href=""> API Docs </a></li>
      <li class="nav-link"><a href=""> Blog </a></li>
      <li class="nav-link"><a href=""> Github </a></li>
      <li class="nav-link"><a href=""> Twitter </a></li>
      <li class="nav-link"><a href=""> Forum </a></li>
    </ul>
  </nav>
</header>
