.docs {
  display: flex;

  .image {
    display: block;
    padding: 20px 0;
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 8px;

    a {
      color: #001728;
      text-decoration: none;
    }
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;

    a {
      color: #001728;
      text-decoration: none;
    }
  }
}

.docs-nav {
  position: relative;
  width: 270px;
  flex-shrink: 0;
  padding-top: 100px;
  padding-right: 40px;
  background-color: $grey-4;

  &:after {
    content: '';
    background-color: $grey-4;
    position: absolute;
    width: 50vw;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.docs-content {
  position: relative;
  width: calc(100% - 270px);
  padding: 100px 100px 0 100px;
  box-shadow: -6px 0 12px -6px rgba(0, 23, 40, 0.09);

  a {
    text-decoration: underline;
  }

  .gh-star-button {
    @extend .btn--hollow;
    background: $color-purple;
    text-decoration: none;
    border-color: $color-purple;
    color: #fff;
    position: relative;
    padding-left: 60px;
    line-height: 26px;

    &:before {
      content: "";
      background-image: url('./octocat.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      width: 28px;
      height: 28px;
      z-index: 1;
      left: 20px;
      top: 8px;
    }

    &:hover {
      background: lighten($color-purple, 2%);
    }
  }

  .patreon-button {
    @extend .btn--hollow;
    text-decoration: none;
    position: relative;
    padding-left: 60px;
    line-height: 26px;

    &:before {
      content: "";
      background-image: url('./patreon.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      width: 28px;
      height: 28px;
      z-index: 1;
      left: 20px;
      top: 10px;
    }

    &:hover {
      &:before {
        background-image: url('./patreon-white.svg');
      }
    }
  }
}

.menu {
  ul {
    margin-bottom: 30px;
  }
}

.sidebar-category {
  font-family: $base-font-family;
  font-weight: 600;
  text-transform: uppercase;
  color: $grey-2;
  margin-bottom: 8px;
}

.sidebar-link {
  color: $grey-1;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  transition: color 0.15s;

  &:hover, &.active {
    color: $color-red;
  }
}

// COPIED
a {
  color: #FB2F51;
}

p strong, p b {
  font-weight: 600;
  color: #395062;
}

#preamble {
  margin-bottom: 70px;

  p {
    font-size: 18px;
    line-height: 30px;
  }
}

.sect1 {
  padding-top: 70px;
  margin-bottom: 70px;
  border-top: 1px solid #DFE3E8;
}

.sect2 {
  padding-top: 30px;
}

h2 a.link {
  color: #001728;
  text-decoration: none;
  display: block;
  position: relative;

  &:before {
    content: "#";
    position: absolute;
    margin-left: -27px;
    top: 1px;
    color: #DFE3E8;
  }
}

.olist {
  margin-bottom: 40px;

  ol {
    list-style: inherit;

    li {
      padding: 6px 0;
    }

    &.ol-shrinked {
      li {
        padding: 0;
      }
    }

    &.ol-spaced {
      li {
        padding: 12px 0;
      }
    }
  }
}

.paragraph {
  margin-bottom: 25px;
}

code {
  padding: 3px 8px;
  background: #f4f5f6;
  border-radius: 4px;
  color: #395062;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 15px;
  -webkit-font-smoothing: auto;
  font-family: "source-code-pro";
}

pre.highlight {
  font-family: "Roboto Mono", "Menlo", "Monaco", Courier, monospace;
  display: block;
  padding: 25px 25px 25px 30px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
  overflow-x: scroll;
  background: #fff;
  border: none;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;

  > code {
    position: initial;
    padding-left: 40px;
  }
}

.paragraph + .listingblock pre {
  margin-top: -16px;
}

pre.highlight code {
  font-size: 14px;
  line-height: 24px;
  display: block;
  background: transparent;
  font-family: "source-code-pro";
  margin: 0;
}

pre.line-numbers > code {
  position: initial;
  padding-left: 0;
}

.listingblock {
  position: relative;

  .title {
    font-family: "canada-type-gibson", sans-serif;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 1;
    font-size: 13px;
    color: #919EAB;
  }
}

table.tableblock {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;

  th {
    text-align: left;
    border: 1px solid #DFE3E8;
    padding: 8px 15px;
    font-size: 12px;
    text-transform: uppercase;
    background: #fafafa;
  }

  tr td {
    padding: 8px 15px;
    vertical-align: middle;
    border: 1px solid #DFE3E8;
  }
}

.description {
  font-size: 12px;
  display: block;
  line-height: 1.35;
  color: #919EAB;
}

.toc {
  padding: 35px 25px 35px 35px;
  border: 1px solid $grey-3;
  display: inline-block;
  margin: 40px 0;

  #toctitle {
    display: none;
  }

  li a {
    text-decoration: none;
  }
}

.admonitionblock {
  background: #F9FAFB;
  border-radius: 4px 4px 6px 6px;
  color: #637381;
  padding: 15px 15px;
  margin: 35px 0;

  &.tip {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    &:before {
      content: '';
      height: 5px;
      position: absolute;
      background: linear-gradient(to right, #6100e9, #4800ad);
      top: 0;
      left: -1px;
      width: calc(100% + 2px);
      border-radius: 3px 3px 0 0;
    }
  }

  &.note {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    &:before {
      content: '';
      height: 5px;
      position: absolute;
      background: linear-gradient(to right, #fad935, #faab35);
      top: 0;
      left: -1px;
      width: calc(100% + 2px);
      border-radius: 3px 3px 0 0;
    }
  }

  table {
    margin: 0;
  }

  .fa.icon-tip {
    background: url(/images/info.svg) no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
  }

  .fa.icon-note {
    background: url(/images/note.svg) no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    background-size: 100%;
    position: relative;
  }

  td {
    border: none;
    padding: 15px;
  }
}

.paragraph + .dlist {
  margin-top: -16px;
}

.dlist {
  border: 1px solid #DFE3E8;
  padding: 20px 0;
  margin-bottom: 30px;

  dt {
    font-weight: 600;
    color: $color-black;
    padding: 0 20px;
  }

  dd {
    margin-bottom: 20px;
    border-bottom: 1px solid #DFE3E8;
    padding: 0 20px;
    &:last-child {
      border: none;
      margin: 0;
    }
  }

  dd .paragraph {
    margin-bottom: 0
  }

  dd p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.line-numbers .line-numbers-rows {
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 28px 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.02);
}

.line-numbers-rows > span:before {
  text-align: center;
  padding: 0;
}
