*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: $base-font-size $base-font-family;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  color: #637381;
}

h1, h2, h3, h4, h5 {
  font-family: $headings-font-family;
  font-weight: 600;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 25px;

  .docs & {
    font-weight: 600;
    color: $color-black;
  }
}

h2 {
  font-size: 45px;
  color: $grey-1;
  line-height: 50px;
  margin-bottom: 20px;
}

h3 {
  font-size: 34px;
  line-height: 38px;
}

h4 {
  font-size: 28px;
  line-height: 32px;
}

p {
  font-size: $base-font-size;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
