// Accent colors
$color-purple: #220052;
$color-red: #FB2F51;
$color-black: #001728;
$color-green: #FB2F51;

// Greys
$grey-1: #454F5B;
$grey-2: #919EAB;
$grey-3: #DFE3E8;
$grey-4: #F9FAFB;

// Type
$base-font-family: "filson pro", sans-serif;
$headings-font-family: "canada-type-gibson", sans-serif;
$base-font-size: 17px;
$base-line-height: 28px;
