<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://use.typekit.net/dpd2zbd.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="/prism.css" />
  <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
  <main class="main">
    @!section('intro')
    @!section('body')
  </main>

  <footer class="footer">
    <div class="wrapper">
      <div class="footer__content">
        <span>Designed by <a href="">Abhimanyu Rana</a></span>
        <span class="footer__logo"><img src="/images/footer-logo.svg" alt="Adonis logo" /></span>
        <span>Developed by <a href="">Harminder Virk</a></span>
      </div>
    </div>
  </footer>

  @!section('scripts')
</body>
</html>
